@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap");

// Colors used for website
$color1: #2a2f4f;
$color2: #917fb3;
$color3: #e5beec;
$color4: #fde2f3;

.Mobile-Ticket {
  display: none;
}
.Mobile-Menu
{
  display: none;
}

.red-color {
  color: red;
}


.Cities-card
{
  display: grid;
  grid-template-columns: 35% 35%;
  justify-content: center;
  .city
  {
     img 
     {
      cursor: pointer;
     }
  }
}

//Layout Page Scss
.main {
  .Site-Logo {
    width: 100px;
    height: 100px;
  }
  .Headers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    .bar {
      width: 200px;
      height: 5px;
      border: 2px solid $color1;
      border-radius: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
    }
    a:hover {
      color: darkgoldenrod;
    }
  }
  .show-details-btn {
    margin-top: 3%;
  }

  .Homepage-image {
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 1px solid $color4;
  }
  .Show-Deatils-Form {
    margin: 2% 20%;
    padding: 5% 4%;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    select {
      width: 200px;
      height: 30px;
      margin: 10px;
    }
    .Dropdowns {
      display: grid;
      grid-template-columns: 25% 25%;
      align-items: center;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      select 
      {
        cursor: pointer;
        border: 2px solid $color1;
        option
        {
          cursor: pointer;
        }
      }
    }
  }
}

.bar-color {
  background-color: $color2;
}

// Pick Your Show page SCSS

// Selecting Seats page SCSS

.Seats-page {
  .Seats {
    margin-top: 20px;
  }
  .Screen {
    width: 500px;
    height: 15px;
    border: 3px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 40px auto;
  }
  .Seat-checkbox {
    width: 20px;
    height: 20px;
    background-color: $color1;
  }
  .Seat-checkbox:hover {
    background-color: $color4;
  }
  .blocked {
    background-color: red;
  }
}

.Seat-checkbox
{
  cursor: pointer;
}
input[type=checkbox]:disabled
{
  cursor: not-allowed;
}
// Ticket Page SCSS
.color1 {
  color: $color1;
}
.color2 {
  color: $color2;
}
.color3 {
  color: $color3;
}
.color4 {
  color: $color4;
}

.bg-color1 {
  background-color: $color1;
}
.bg-color2 {
  background-color: $color2;
}
.bg-color3 {
  background-color: $color3;
}
.bg-color4 {
  background-color: $color4;
}

.Ticket-page {
  .Ticket {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 5% 3%;
    border: 5px dotted black;
    background-color: white;
  }
  .Ticket-left-part {
    display: flex;
  }
  .left-QR {
    align-items: center;
    align-self: center;
    flex-grow: 1;
    img {
      transform: rotate(270deg);
      width: 300px;
      height: 100px;
    }
  }
  .Ticket-Details {
    flex-grow: 2;
  }

  .Ticket-right-part {
    border-left: 3px dashed black;
  }
  .Ticket-Background-color {
    background-color: $color1;
    color: white;
    font-size: large;
    padding: 10px;
    width: 600px;
    justify-content: center;
  }
  .Ticket-color {
    color: $color1;
    font-size: 28px;
  }
}

footer {
  margin-top: 35px;
  background-color: $color1;
  color: white;
  height: 200px;
  padding: 2%;
  box-shadow: black 0px -50px 36px -28px inset;
  .footer-logo {
    width: 200px;
    box-shadow: $color2 0px 5px 15px;
    border-radius: 50%;
  }
}
.btn {
  background-color: $color1;
  color: white;
  padding: 8px 18px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn:hover {
  background-color: white;
  color: $color1;
  border: 1px solid $color1;
}

.freeze-btn {
  // background-color: $color3;
  background: repeating-linear-gradient(45deg, gold, transparent 100px);
  color: $color1;
  padding: 10px;
  font-weight: bold;
  border: 1px solid $color1;
}
.freeze-btn:hover {
  background-color: $color1;
  color: $color3;
  border: 1px solid $color3;
}

.change-btn {
  // background-color: $color4;
  background: repeating-linear-gradient(45deg, green, transparent 100px);
  color: $color1;
  padding: 10px;
  font-weight: bold;
  border: 1px solid $color1;
}
.change-btn:hover {
  background-color: $color1;
  color: $color4;
  border: 1px solid $color4;
}

.color-red {
  width: 300px;
  background-color: red;
  color: white;
  margin: 10px auto;
}
.color-green {
  width: 300px;
  margin: 10px auto;
  background-color: green;
  color: white;
}

// Page Titles
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  // text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



// Modal Styling 
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

.display-none
{
  display: none;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 30%;
  border: 2px solid black;
  .modal-title
  {
    .title-text
    {
      padding: 4px 20px;
      color: $color1;
      font-weight: bold;
    }
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  margin-top:-20px ;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e80000;
  text-decoration: none;
  cursor: pointer;
}


// Success page
.sucess-conatiner {
  border-top: 20px dashed green;
  padding: 5% 10%;
  margin: 10% 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


// Email SCSS

.letter-image {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;

    .letter-border {
      height: 10px;
      width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #cb5a5e,
        #cb5a5e 8px,
        transparent 8px,
        transparent 18px
      );
    }

    .letter-title {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 40%;
      background: #cb5a5e;
    }
    .letter-context {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 20%;
      background: #cb5a5e;
    }

    .letter-stamp {
      margin-top: 30px;
      margin-left: 120px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      background: #cb5a5e;
      opacity: 0.3;
    }
  }
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.letter-image:hover {
  .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 180px;
  }

  .shadow {
    width: 250px;
  }
}


// Cat SCSS : Nopage

$color-black: #161616;
$color-white: #fff;
$size: 170px; // (Fully responsive)

// Cat
.No-page {
  background-color: black;
  padding: 10%;
  color: white;
}
.cat {
  position: relative;
  height: $size;
  width: $size * 1.13;
  margin: auto;
}

// Ears
.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: $color-white;

  // Ear hair
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: $color-black;
  }

  &::after {
    transform-origin: 50% 100%;
  }
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);

  &::before,
  &::after {
    right: 10%;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);

  &::before,
  &::after {
    left: 10%;
  }

  &::after {
    transform: rotate(45deg);
  }
}

// Face
.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $color-black;
  border-radius: 50%;
}

// Eyes
.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: $color-white;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;

  // Eyelids
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: $color-black;
    animation: blink 4s infinite ease-in;
  }

  @keyframes blink {
    0% {
      height: 0;
    }
    90% {
      height: 0;
    }
    92.5% {
      height: 100%;
    }
    95% {
      height: 0;
    }
    97.5% {
      height: 100%;
    }
    100% {
      height: 0;
    }
  }

  // Tips of the eyes
  &::before {
    content: "";
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: $color-white;
    border-radius: 50%;
  }
}

.eye--left {
  left: 0;

  &::before {
    right: -5%;
  }
}

.eye--right {
  right: 0;

  &::before {
    left: -5%;
  }
}

// Pupils
.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: $color-black;
  border-radius: 50%;
  animation: look-around 4s infinite;

  @keyframes look-around {
    0% {
      transform: translate(0);
    }
    5% {
      transform: translate(50%, -25%);
    }
    10% {
      transform: translate(50%, -25%);
    }
    15% {
      transform: translate(-100%, -25%);
    }
    20% {
      transform: translate(-100%, -25%);
    }
    25% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .eye--left & {
    right: 30%;
  }

  .eye--right & {
    left: 30%;
  }

  // Glare on the pupil
  &::after {
    content: "";
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: $color-white;
  }
}

// Muzzle
.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: $color-white;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

// Media-Screens

@media screen and (max-width: 1200px) {
  .Mobile-Ticket {
    display: block;
    margin: 20% 5%;
    background: $color3;
    border-radius: 10px;
    border: 3px double black;
    .MTicket {
      display: grid;
      grid-template-columns: 20% 60% 20%;
    }
    .Ticket-logo {
      align-self: center;
    }
    .Ticket-Id {
      border-left: 1px solid black;
      h4 {
        margin-top: 70px;
        transform: rotate(90deg);
      }
    }
  }
  
  .Homepage-image {
    width: 474px;
  }
}
@media screen and (max-width:1220px) {
  .Ticket-page
  {
    .Ticket
    {
      .Ticket-right-part
      {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .main {
    .Show-Deatils-Form {
      .Dropdowns {
        display: grid;
        grid-template-columns: auto;
      }
    }
    .Headers {
      .bar {
        width: 130px;
      }
    }
  }
  .Seats-page {
    .Screen {
      width: 300px;
    }
  }
  .Ticket-page {
    .Ticket {
      display: none;
    }
  }
}

@media screen and (max-width: 475px) {
  .Mobile-Menu{
    display: block;
    img 
    {
      width: 100px;
      height: 100px;
      cursor: pointer;
    }
  }
  .main {
    .Headers {
      display: none;
    }
  }
  .Homepage-image {
    width: 200px;
  }
  .Cities-card
  {
    grid-template-columns: auto;
   
  }
  .letter-image
  {
    display: none;
  }
  .sucess-conatiner
  {
    margin: 20%;
  }
  .No-page
  {
    margin: 11%;
  }
  .MTicket
  {
    .Ticket-Id
    {
      h4
      {
        margin-top: 50px;
      }
    }
  }
}


@media screen and (max-width : 330px) {
  .main
  {
    .Show-Deatils-Form
    {
      margin: 2% 10%;
    }
  }
}




// ------------------------------------------------------------------------------------------


.lds-spinner {
  color: black;
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 35%;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
